@import '~rsuite/dist/rsuite.min.css';

html {
    font-family: Arial, Helvetica, sans-serif;
}

.players-table-dashboard {
    display: block;
    width: 800px;
    padding-left: 30px;
    margin: auto;
}

.players-table-header {
    display: flex;
    justify-content: space-between;
}

.export-btn {
    width: 100px;
    height: 30px;
    margin: 10px 0px 10px 0px;
    background-color: #191D24;
}

.export-btn > a {
    text-decoration: none;
}

.export-btn:hover {
    background-color: #232529;
}

.search-bar {
    width: 200px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    background-color: #191D24;
    border: none;
}

.pagination-bar {
    padding: 20px;
}